.bg-job {
    background-color: #f7f7f7;
    padding-bottom: 25px;
}

.outer-rectangle {
    padding: 16px;
    width: 1350px;
    margin: 0 auto;
    height: 70px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.btn-dropdown {
    background: white;
    cursor: pointer;
    border: none;
    outline: none;
}

.info-disable-check {
    border: 1px solid #A6A6A6;
    padding: 10px 16px;
    border-radius: 30px;
}

.info-checked {
    border: 1px solid red;
    padding: 10px 16px;
    border-radius: 30px;
    color: #ed1b2f;
    background-color: #FFDFDF;
}

.category-item {
    position: relative;
    z-index: 40;
}

.dropdown-level,
.dropdown-working-models,
.dropdown-salary,
.dropdown-industry {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    width: 300px;
}

.dropdown-industry {
    height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 260px;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f0f0f0;
}

.dropdown-header {
    padding: 10px;
    background: white;
    position: sticky;
    top: -10px;
    z-index: 10;
    border-bottom: 1px solid #ddd;
}

.dropdown-item {
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.dropdown-search {
    width: 100%;
    padding: 6px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-btn {
    background-color: gray;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
}

.checkbox-level {
    width: 25px;
    height: 25px;
}

.btn-salary {
    border: 1px solid red;
    outline: none;
    color: red;
    border-radius: 5px;

}

.btn-salary:hover {
    opacity: 0.6;
}

.modal-dialog {
    max-width: 800px;
    width: 800px;
    height: 92%;
}

.modal-body {
    overflow-y: auto;

}

.modal-content {
    height: 100%;
}

.btn-filter-skill {
    border: 1px solid gray;
    border-radius: 25px;
    background-color: white;
}

.btn-filter-skill:hover {
    border: 1px solid black;
}

.input-ranger {
    border: 1px solid gray;
    border-radius: 25px;
    padding: 3px;
}

.filter-industry {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 720px;
    overflow: hidden;
    background: white;
}

.filter-header {
    margin-bottom: 10px;
}

.filter-search {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.filter-list {
    height: 200px;
    max-width: 900px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    padding-top: 5px;
}

.filter-item {
    display: flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.filter-item:hover {
    background-color: #f5f5f5;
}

.checkbox-level {
    margin-right: 8px;
}


.filter-list::-webkit-scrollbar {
    width: 6px;
}

.filter-list::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 5px;
}

.filter-list::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.btn-reset-filter {
    border: none;
    outline: none;
    background-color: white;
    color: #0E2EED;
    font-weight: 600;
}

.btn-apply-filter {
    border: none;
    outline: none;
    padding: 10px 80px;
    background-color: #ed1b2f;
    color: white;
    border-radius: 5px;
}

.btn-apply-filter:hover {
    opacity: 0.8;

}

.btn-filter-skill.active {
    border: 1px solid #ed1b2f;
    background-color: #FFDFDF;
    color: #ed1b2f;
}

/* 150% */
@media (max-width: 1024px) {
    .bg-none {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }

    .category {
        display: none !important;
    }

    .bg-job {
        padding: 0 40px 20px 40px;
    }

    .outer-rectangle {
        width: 100% !important;
    }

    .filter-btn {
        width: 100%;
    }
}

/* 125% */
@media (max-width: 1366px) {
    .bg-job {
        padding: 0 40px 20px 40px;
    }

    .outer-rectangle {
        width: 1130px;
    }

}