main {
    background-color: #f7f7f7;
    padding: 0 20px;
}

.container-main {
    margin: 0 4%;
    padding: 40px 0 100px 10px;
    background-color: white;
    width: 550px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.container-super {
    margin: 0 4%;
    padding: 40px 0 100px 10px;
    background-color: #FFF4E9;
    width: 550px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

div.container-main:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.post-main {
    position: relative;
}

.post-super {
    position: relative;
}

.post-main::after {
    content: 'HOT';
    position: absolute;
    top: 0px;
    right: -16px;
    background-color: #F99119;
    padding: 2px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: white;
    font-weight: 600;
    z-index: -1;
}

.post-main::before {
    content: '';
    position: absolute;
    top: 28px;
    right: -16px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 5px solid #F99119;
    transform: rotate(-180deg);
}

.post-super::before {
    content: '';
    position: absolute;
    top: 28px;
    right: -16px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 5px solid #ed1b2f;
    transform: rotate(-180deg);
}

.post-super::after {
    content: '🔥 SUPER HOT';
    position: absolute;
    top: 0px;
    right: -16px;
    background-color: #ed1b2f;
    padding: 2px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: white;
    font-weight: 600;
    z-index: -1;
}

.title-job {
    width: 300px;
}

.company-logo {
    border: 1px solid rgb(180, 180, 180);
    padding: 18px 0;
    border-radius: 5px;
}

.btn {
    border: 1px solid gray;
    padding: 2px 8px;
    border-radius: 40px;
    font-size: 12px;
}

.btn:hover {
    border: 1px solid black;
}

.selected-job {
    border: 2px solid red;
    position: relative;
}

.selected-job::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -1px;
    width: 6px;
    height: 95%;
    border-radius: 10px;
    background-color: #ed1b2f;
}

.selected-job::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -15px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #ed1b2f;
    transform: rotate(90deg);

}

.job-details {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 770px;
    margin-right: 20px;
    height: 100%;
    overflow: hidden;
    position: sticky;
    top: 80px;
}

.scroll-inner {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 56vh;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f0f0f0;
}

.btn-apply {
    border-radius: 3px;
    padding: 8px 20px;
    background-color: #ed1b2f;
    border: none;
    color: white;
    font-size: 16px;
    width: 100%;
}

.btn-apply:hover {
    opacity: 0.9;
}

.icon-heart {
    position: relative;

    cursor: pointer;
}

.icon-heart::after {
    content: "Save this job";
    position: absolute;
    top: -25px;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.icon-heart:hover::after {
    opacity: 1;
    visibility: visible;
}

.address-details span {
    color: #414042;
}

.header-details,
.address-details,
.details-reason,
.details-why,
.details-desciption,
.details-your-skill {
    border-bottom: 1px dotted gray;
}

@media (max-width: 1024px) {
    .job-details {
        display: none;
    }

    .info-job {
        width: 100%;
        margin-right: 0px;
    }

    .container-main {
        width: 100%;
        margin-left: 20px;
        padding-right: 0px;

    }

    .main-job {
        padding-right: 10px;
    }

    .attractive {
        display: flex;
        flex-direction: column;
    }
}

.attractive {
    border-top: 1px dotted gray;
    padding: 10px 5px 5px 15px;

}