.bg-gradient-search {
    background: linear-gradient(269.85deg, #54151C 0%, #121212 54.89%);
    position: relative;
}

.p-search {
    padding-bottom: 124px;
}

.in-search {
    width: 700px;
    padding: 10px;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0 10px;
}

.btn-city {
    height: 56px;
    position: relative;
    border-radius: 5px;
    text-align: left;
    font-weight: 600;
    background-color: white;
}

.map-icon {
    color: #A6A6A6;
}

.citi-icon {
    padding: 0 5px 0 100px;
    color: #A6A6A6;
}

.dropdown {
    z-index: 1;
}

.dropdown-location-city {
    position: absolute;
    z-index: 50;
}

.item-location-city {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 130px 5px 10px;
    font-weight: 600;

}

.item-dropdown-location-city {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px gray;
}

.item-location-city:hover {
    background-color: #FFF5F5;
}

.btn-search {
    height: 56px;
    padding: 0 80px;
    border-radius: 5px;
    background-color: #ed1b2f;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
}

.btn-search:hover {
    opacity: 0.8;
}

.container-slide-show {
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.slide-show {
    max-width: 1350px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}


.img-slide::after {
    content: 'Company Spotlight';
    position: absolute;
    background: #FF9119;
    left: 0px;
    top: 10px;
    padding: 2px 10px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.img-slide img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.info-grab-slide {
    padding: 0 80px;
    position: relative;
}

.logo-grab {
    position: absolute;
    left: -10%;
    top: 0%;
    background-color: white;
    padding: 40px 5px;
    border: 1px solid gray;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Làm mờ nền */
    backdrop-filter: blur(5px);
    /* Hiệu ứng mờ */
    z-index: 50;
}